--
-- Create model TalentRole
--
CREATE TABLE `talkshow_backend_talentrole` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `name` varchar(100) NOT NULL UNIQUE);
--
-- Add field is_approved to feedback
--
ALTER TABLE `talkshow_backend_feedback` ADD COLUMN `is_approved` bool DEFAULT b'0' NOT NULL;
ALTER TABLE `talkshow_backend_feedback` ALTER COLUMN `is_approved` DROP DEFAULT;
--
-- Add field user to talent
--
ALTER TABLE `talkshow_backend_talent` ADD COLUMN `user_id` bigint NULL , ADD CONSTRAINT `talkshow_backend_tal_user_id_7316885b_fk_talkshow_` FOREIGN KEY (`user_id`) REFERENCES `talkshow_backend_registration`(`id`);
--
-- Add field user to talentsubmission
--
ALTER TABLE `talkshow_backend_talentsubmission` ADD COLUMN `user_id` bigint NULL , ADD CONSTRAINT `talkshow_backend_tal_user_id_93a13917_fk_talkshow_` FOREIGN KEY (`user_id`) REFERENCES `talkshow_backend_registration`(`id`);
--
-- Add field role to registration
--
ALTER TABLE `talkshow_backend_registration` ADD COLUMN `role_id` bigint NULL , ADD CONSTRAINT `talkshow_backend_reg_role_id_031b40ec_fk_talkshow_` FOREIGN KEY (`role_id`) REFERENCES `talkshow_backend_talentrole`(`id`);
--
-- Create model VideoComment
--
CREATE TABLE `talkshow_backend_videocomment` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `text` longtext NOT NULL, `created_at` datetime(6) NOT NULL, `talent_video_id` bigint NOT NULL, `user_id` bigint NOT NULL);
--
-- Create model Subscription
--
CREATE TABLE `talkshow_backend_subscription` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `created_at` datetime(6) NOT NULL, `subscribed_to_id` bigint NOT NULL, `subscriber_id` bigint NOT NULL);
--
-- Create model VideoLike
--
CREATE TABLE `talkshow_backend_videolike` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `created_at` datetime(6) NOT NULL, `talent_video_id` bigint NOT NULL, `user_id` bigint NOT NULL);
ALTER TABLE `talkshow_backend_videocomment` ADD CONSTRAINT `talkshow_backend_vid_talent_video_id_7de90e4f_fk_talkshow_` FOREIGN KEY (`talent_video_id`) REFERENCES `talkshow_backend_talent` (`id`);
ALTER TABLE `talkshow_backend_videocomment` ADD CONSTRAINT `talkshow_backend_vid_user_id_2a4e3487_fk_talkshow_` FOREIGN KEY (`user_id`) REFERENCES `talkshow_backend_registration` (`id`);
ALTER TABLE `talkshow_backend_subscription` ADD CONSTRAINT `talkshow_backend_subscri_subscriber_id_subscribed_9f4f0b54_uniq` UNIQUE (`subscriber_id`, `subscribed_to_id`);
ALTER TABLE `talkshow_backend_subscription` ADD CONSTRAINT `talkshow_backend_sub_subscribed_to_id_e1ef1026_fk_talkshow_` FOREIGN KEY (`subscribed_to_id`) REFERENCES `talkshow_backend_registration` (`id`);
ALTER TABLE `talkshow_backend_subscription` ADD CONSTRAINT `talkshow_backend_sub_subscriber_id_7378ef92_fk_talkshow_` FOREIGN KEY (`subscriber_id`) REFERENCES `talkshow_backend_registration` (`id`);
ALTER TABLE `talkshow_backend_videolike` ADD CONSTRAINT `talkshow_backend_videolike_user_id_talent_video_id_aedaa42d_uniq` UNIQUE (`user_id`, `talent_video_id`);
ALTER TABLE `talkshow_backend_videolike` ADD CONSTRAINT `talkshow_backend_vid_talent_video_id_ec497ce2_fk_talkshow_` FOREIGN KEY (`talent_video_id`) REFERENCES `talkshow_backend_talent` (`id`);
ALTER TABLE `talkshow_backend_videolike` ADD CONSTRAINT `talkshow_backend_vid_user_id_d9cfd6be_fk_talkshow_` FOREIGN KEY (`user_id`) REFERENCES `talkshow_backend_registration` (`id`);
